.title {
  text-align: center;
  padding: 16px 24px;
}
.form {
  padding: 0px 24px;
}
.link {
  text-decoration: none;
  min-width: 90%;
}
.success-wrp {
  padding: 16px 24px;
  text-align: center;
}
.search-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
}
@media only screen and (max-width: 600px) {
  .search {
    flex-direction: column;
    width: 86%;
    gap: 0px;
  }
}
